.img_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* header is 10vh */

  box-sizing: border-box;
  border-bottom: 2px solid black;

  background-image: url(../img/img_slider\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.double_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.double_text div {
  width: 45%;
}

p {
  margin-bottom: 280px;
}
