/* root */
html,
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

.fill {
  flex-grow: 1;
}
.spacing {
  margin-left: 21%;
  margin-right: 21%;
}

.container {
  display: flex;
}
.content {
  max-width: 893px;
  width: 100%;
  margin: 5% auto;
}

/* fonts + sizes */
p {
  font-family: "Dosis", sans-serif;
  font-size: 22px;
  color: #737373;
}
h1,
h2, h3 {
  font-family: "Josefin Slab", sans-serif;
  font-weight: 400;
  margin: 0px;
  font-size: 26px;
  color: #ad7a5a;
}
a,
li {
  font-family: "Julius Sans One", sans-serif;
}
/* h1 container */
.title_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 40px;
  padding-left: 130px;
  padding-right: 130px;

  text-align: center;

  box-sizing: border-box;
  border-top: double #b78e75 3px;
  border-bottom: double #b78e75 3px;
}

.font-small {
  font-size: 15px;
}
/* to show wich pages are not made */
.unavailable {
  background-color: #d2d2d2;
}
/* end root */
/* index */
/* index end*/
/* de tent */
.double_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.double_text div {
  width: 45%;
}
.double_text p {
  margin: 0.4em;
}

.double_text a {
  font-size: 22;
  font-family: "Dosis", sans-serif;
  margin: 0;
  color: #737373;
}
/* de tent end */
/* login/register page */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 80px;
}
form input {
  height: 20px;
}

/* login/register page end*/
/* gasten page */
.reactie-form{
  height: 300px;
}
.color-brown {
  color: #b78e75;
}
.reaction {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;


  border: 1px solid #73737333;
}
.reaction div {
  display: flex;
  justify-content: space-between;
}
.reaction h3 {
  height: auto;
  margin: 0px;
  padding: 0px;

  font-weight: 700;
  color: #737373;
}
.reaction p{
  margin: 0px;
  padding: 0px;
}
/* gasten page end */
/* admin page */
.margin-0 {
  margin: 0px;
}

.change-admin-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;

  width: 100%;
  height: auto;
  padding: 5px;

}

.change-admin{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px
  ;

  width: auto;
  min-width: 120px;
  height: auto;

  padding: 10px;

  border: solid #b78e75 2px;
  border-radius: 5px;
}
/* admin page end */